<ion-content class="pt-ion">

        <div class="orders-container">
                <ion-list class="ion-no-padding">
                        <ion-card (click)="expandItem(item)" *ngFor="let item of items; let i = index">
                                <ion-card-header>
                                        <div class="title">
                                                <span>{{'Order #' + i+1}}</span>
                                                <div>
                                                        <span>{{'Order received'}}</span>
                                                        <ion-icon name="chevron-up"></ion-icon>
                                                </div>
                                        </div>
                                </ion-card-header>
                                <ion-card-content>
                                        <app-expandable expandHeight="300px" [expanded]="item.expanded">
                                                <ion-list lines="none">
                                                        <ion-item *ngFor="let item of [].constructor(4)">
                                                                <div class="item_v">
                                                                        <img src="../../assets/img/f1.jpg" alt="">
                                                                        <div class="description">
                                                                                <span>{{'Pizza Margheritta'}}</span>
                                                                                <span>{{'Home Cooking Experience'}}</span>
                                                                        </div>
                                                                        <div class="pricing">
                                                                                <span>{{'$16.5'}}</span>
                                                                                <span>{{'2020-10-18'}}</span>
                                                                                <span>{{'10:51'}}</span>
                                                                        </div>
                                                                </div>
                                                        </ion-item>
                                                </ion-list>
                                        </app-expandable>
                                </ion-card-content>
                        </ion-card>
                </ion-list>
        </div>
</ion-content>