ion-content {
    // --background:#FAFAFA;
    --offset-bottom: auto !important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
}

.orders-container {
    width: 100%;

    .title {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
}

