<ion-content fullscreen="true">

    <div class="back-font"></div>


    <svg class="back-middle" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
        <path fill="#c04326" d="M42.7,-64.4C51.7,-52.3,52.8,-34.9,55.9,-19.5C59,-4.1,64.2,9.2,61.4,20.6C58.6,32,47.8,41.5,36.2,53.1C24.7,64.7,12.3,78.5,1.6,76.3C-9.2,74.2,-18.4,56.1,-25.8,43.1C-33.3,30.2,-38.9,22.3,-49,11.2C-59.2,0,-73.9,-14.4,-72.2,-24.6C-70.4,-34.8,-52.2,-40.8,-37.4,-51C-22.6,-61.2,-11.3,-75.6,2.8,-79.4C16.9,-83.3,33.8,-76.5,42.7,-64.4Z" transform="translate(100 100)" />
    </svg>

    <div class="ion-padding">
        <form class="ion-padding" [formGroup]="LoginForm">

            <div class="header">
                <div class="title">
                    <span>{{'Welcome Yorh Resto'}}</span>
                </div>

                <div class="box">
                    <img src="../../assets/img/vector.png" alt="">
                </div>
            </div>
             <div class="field">
                <small class="dcolor" *ngIf="(email.statusChanges|async) === 'INVALID'">{{'Email is invalid'}}</small>
                <small class="vcolor" *ngIf="(email.statusChanges|async) === 'VALID'">{{'Valid Enter'}}</small>
                <input type="text" id="email" formControlName="email"  placeholder="Ek@example.com">
                <label for="email"><i class="fal fa-envelope mr-2"></i>{{'Email'}}</label>
              </div>
              <div class="field">
                <small class="dcolor" *ngIf="(password.statusChanges|async) === 'INVALID'">{{'Password is invalid'}}</small>
                <small class="vcolor"  *ngIf="(password.statusChanges|async) === 'VALID'">{{'Valid Enter'}}</small>
                <input type="password" id="password" formControlName="password"  placeholder="********">
                <label for="password"><i class="fal fa-lock mr-2"></i>{{'Password'}}</label>
              </div>
           <div class="actions">
                <button><small>{{'Log In'}}</small></button>
           </div>

        </form>
    </div>

</ion-content>
