<ion-content>
  
  <div class="spinners">
    <div class="img_container">
      <img src="../../assets/img/splash.png" alt="">
    </div>
  </div>

  <div class="greeting">
      <!-- <span>{{'Welcome to Yorhood'}}</span> -->
  </div>

  <div class="boot_stmt">
    <div class="spinners__conntainer" *ngIf="splash == false">
      <div>
      </div>
      <div>
      </div>
      <div>
      </div>
      <div>
      </div>
      <div>
      </div>
    </div>

    <div class="getstarted" *ngIf="splash == true">
        <button><ion-icon name="lock-closed" size="large"></ion-icon></button>
    </div>

  </div>

</ion-content>