<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title size="medium" class="ion-text-center h">
      {{'Cart'}}
    </ion-title>
  </ion-toolbar>

  <div class="theader">
    <div class="ach-ci"><ion-icon class="trophy" name="trophy"></ion-icon></div>
    <div class="arch-title">
        <span class="fc">{{'Shopping cart'}}</span>
        <span class="lc">{{'Verify your quantity and click checkout'}}</span>
    </div>
</div>
</ion-header>

<ion-content>

</ion-content>
