<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title size="medium" class="ion-text-center h">
      {{'Cart'}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="theader">
    <ion-icon class="cart" name="cart"></ion-icon>
    <div class="arch-title">
        <span class="fc">{{'Shopping cart'}}</span>
        <span class="lc">{{'Verify your quantity and click checkout'}}</span>
    </div>
</div>

    <ion-list lines="none" class="ion-margin-top">
        <ion-item>
              <div class="v-li">
                    <img src="../../assets/img/f1.jpg" alt="">
                    <div class="description">
                        <span>{{'Calas'}}</span>
                        <span>{{'somon,Mozzalera'}}</span>
                        <span>{{'$34.00'}}</span>
                    </div>
                    <div class="adjust">
                      <ion-buttons>
                        <ion-button>
                          <ion-icon name="add-circle-outline"></ion-icon>
                        </ion-button>
                      </ion-buttons>
                      <span class="ion-text-center">{{1.0}}</span>
                      <ion-buttons>
                        <ion-button>
                          <ion-icon name="remove-circle-outline"></ion-icon>
                        </ion-button>
                      </ion-buttons>
                    </div>
              </div>
        </ion-item>
    </ion-list>

</ion-content>

<ion-footer class="ion-no-border">
    <div class="_container">
          <div class="_f1">
                <span>{{'Subtotal'}}</span>
                <span>{{'$'+ subtotal}}</span>
          </div>
          <div class="_f2">
            <span>{{'TAX(10%)'}}</span>
            <span>{{'$' + byTax }}</span>
      </div>
          <div class="_g">
                <ion-button class="add_cart">
                  <div>
                    <span>{{'checkout'}}</span>
                    <span>{{'$'+ total_order}}</span>
                  </div>
                </ion-button>
          </div>
    </div>
</ion-footer>
