<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title size="medium" class="ion-text-center h">
      {{'Cart'}}
    </ion-title>
  </ion-toolbar>

  <div class="theader">
    <ion-icon class="cart" name="cart"></ion-icon>
    <div class="arch-title">
        <span class="fc">{{'Shopping cart'}}</span>
        <span class="lc">{{'Verify your quantity and click checkout'}}</span>
    </div>
</div>
</ion-header>

<ion-content>

</ion-content>

<ion-footer class="ion-no-border">
    <div class="_container">
          <div class="_f">
            
          </div>
    </div>
</ion-footer>
