<ion-header class="ion-no-border">
  <img [src]="resto[0]?.img" alt="">
  <ion-toolbar class="ion-no-border">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button class="circle ion-text-center">
        <ion-icon name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding">

<div class="description">
    <span>{{resto[0]?.name}}</span>
    <div class="price-w">
        <span>{{resto[0]?.star}}</span>
        <ion-icon name="star"></ion-icon>
    </div>
</div>
<div class="dtext">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. 
  Culpa magnam quis reiciendis ut. Sit pariatur molestiae aut libero quaerat. 
  Incidunt tempore, alias nostrum dolorem impedit tenetur optio adipisci facilis nihil?
</div>


<div class="resto-parts">
    <ion-slides [options]="slidesOptions">
      <ion-slide *ngFor="let item of resto[0]?.parts">
          <div class="i-view">
            <img [src]="item?.img" alt="">
          </div>
      </ion-slide>
    </ion-slides>
</div>

</ion-content>
