<ion-header class="ion-no-border">
  <img [src]="food[0]?.img" alt="">
  <ion-toolbar class="ion-no-border">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button class="circle ion-text-center" (click)="toCart()">
        <ion-icon name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>
  
    <div class="description">
          <span>{{food[0]?.name}}</span>
          <div class="price-w">
              <span>{{'$'+food[0]?.price}}</span>
              <span>{{'200g'}}</span>
          </div>
    </div>
    <div class="dtext">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Culpa magnam quis reiciendis ut. Sit pariatur molestiae aut libero quaerat. 
        Incidunt tempore, alias nostrum dolorem impedit tenetur optio adipisci facilis nihil?
    </div>

  
    <div class="extra">
      <ion-icon name="add-circle"></ion-icon>
      <div class="title">
          <span>{{'Extra'}}</span>
          <span>{{'Select extra to add them on the food'}}</span>
      </div>
    </div>
    <div class="extra_list">
      <ion-list lines="none">
        <ion-item *ngFor="let item of service?.extras">
            <div class="v_item">
                  <img [src]="item?.img" alt="" srcset="">
                  <div class="detail">
                      <span>{{item?.name}}</span>
                      <span>{{'Add some '+ item?.name }}</span>
                  </div>
                  <div class="price">
                      <span>{{'$'+ item?.price}}</span>
                  </div>
            </div>
        </ion-item>
      </ion-list>
    </div>


    <div class="ingredients">
      <ion-icon name="color-fill"></ion-icon>
      <div class="title">
          <span>{{'Ingredients'}}</span>
          <span></span>
      </div>
    </div>
    <div class="dtext">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Culpa magnam quis reiciendis ut. Sit pariatur molestiae aut libero quaerat. 
    </div>

    <div class="nutritions">
      <ion-icon name="medical"></ion-icon>
      <div class="title">
          <span>{{'Nutrition'}}</span>
          <span></span>
      </div>
    </div>
    <div class="gn-list">
        <ion-row>
            <ion-col size="3" *ngFor="let item of service?.nutritions">
              <ion-card>
                <ion-card-content>
                    <div class="_b">
                      <span>{{item?.name}}</span>
                      <span>{{item?.qt}}</span>
                    </div>
                </ion-card-content>
              </ion-card>
            </ion-col>
        </ion-row>
    </div>
</ion-content>

<ion-footer class="ion-no-border">
  <div class="_container">
    <div class="_f">
      <div class="qte">
        <span>{{'Quantity'}}</span>
      </div>
      <div class="adjust">
        <ion-buttons>
          <ion-button (click)="decrease()">
            <ion-icon name="remove-circle-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
        <span>{{qte}}</span>
        <ion-buttons>
          <ion-button (click)="increase()">
            <ion-icon name="add-circle-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>
  
    </div>
    <div class="_g">
      <div class="like">
        <ion-buttons>
          <ion-button [ngClass]="{'added': added === true}" class="circle" (click)="addToFavorite()">
            <ion-icon name="heart"></ion-icon>
          </ion-button>
          <ion-button class="add_cart" (click)="addToCart()">
            <div>
              <span>{{'Add to cart'}}</span>
              <span>{{'$ '+ mount}}</span>
            </div>
          </ion-button>
        </ion-buttons>
      </div>
    </div>
  </div>
</ion-footer>

