ion-header {
  position: relative;
  ion-toolbar {
    position: absolute;
    top: 0%;
    --background: transparent;
    ion-back-button {
      color: #fff;
      box-shadow: 0px 10px 30px 0px rgba(57, 71, 82, 0.12);
    }
  }

  img {
    width: 100%;
    height: 300px;
  }

  .circle {
    width: 50px;
    height: 50px;
    border-radius: 10%;
    background-color: #c04326;
    display: flex;
    justify-content: center;
    align-items: center;
    ion-icon {
      color: #fff;
      font-size: 50px;
    }
  }
}

ion-content {
  --background: #fafafa;
  --padding-bottom: 10rem;
    --offset-bottom: auto !important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
}

ion-footer {
  --background: #fafafa;
  --padding:0;
}


  ._container {
    padding-top: 7px;
    padding-bottom: 5px;
    width: 100%;
    height: 100%;
    // position: absolute;
    // bottom: 0%;
    // left: 0%;
    background-color: #fff;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
    ._f {
      margin-top: 15px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10px;
      width: 85%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .qte {
        span {
          font-size: 16px;
          font-weight: bold;
          color: rgb(117, 117, 117);
        }
      }

      .adjust {
        display: flex;
        width: 20%;
        align-items: center;
        justify-content: space-between;

        span {
          color: rgb(117, 117, 117);
        }
        ion-icon {
          color: rgb(117, 117, 117);
        }
      }
    }

    ._g {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .like {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
    
            ion-buttons {
              width: 100%;
              display: flex;
              justify-content: space-between;
              align-items: center;
            }
    
            .circle {
              background: #fff;
              width: 50px;
              height: 50px;
              border-radius: 40%;
              border: 2px solid #c04326;
              ion-icon {
                color: #c04326;
              }
            }
    
            .add_cart {
              width: 80%;
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: #c04326;
              height: 50px;
              border-radius: 20px;
    
              & > div {
                width: 100%;
                padding-left:5px;
                padding-right: 5px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                span {
                    color: #FFF;
                    font-size: 12px;
                    font-weight: bold;
                }
              }
            }
          }
    }
  }


  .description {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > span {
      font-size: 27px;
      font-weight: bold;
      color: #5c5858;
    }

    .price-w {
        display: grid;
        span:first-child {
          font-size: 27px;
          color: #c04326;
          font-weight: bold;
        }
        span {
          color: #5c5858;
        }
    }
  }

  .dtext {
    word-wrap: break-word;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    text-justify: inter-word;
    font-size: 15px;
    color: #a19c9c;
  }

  .extra, .ingredients, .nutritions {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;

    ion-icon {
      color: #5c5858;
      font-size: 20px;
    }

    .title {
      display: grid;
      width: 80%;

      span:first-child {
        font-size: 17px;
        font-weight: bold;
        color: #5c5858;
      }

      span:last-child {
        font-size: 14px;
        color: #a19c9c;
      }
    }
  }


  .item .item-inner {
    padding-left: 0px;
  }

  .v_item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      img {
        width: 20%;
        height: 40px;
      }

      .detail {
        width: 55%;
        height: 40%;
        display: grid;
        word-wrap: break-word;
        text-align: justify;
        text-justify: inter-word;
        span:first-child {
          font-size: 17px;
          font-weight: bold;
          color: #5c5858;
          text-transform: capitalize;
        }
  
        span:last-child {
          font-size: 14px;
          color: #a19c9c;
        }
      }

      .price {
        width: 20%;
        height: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        span {
          font-size: 17px;
          font-weight: bold;
          color: #5c5858;
        }
      }

  }

  .gn_list {
    width: 100%;
    ion-card-content {
      --padding-inline-start: 5px!important;
      --padding-inline-end: 5px!important;
    }

    ._b {
      display: grid;
      width: 100%;
      span {
        font-size: 8px;
        font-weight: bold;
        color: #5c5858;
      }
    }
  }