<ion-header class="ion-no-border">
  <img [src]="food[0]?.img" alt="">
  <ion-toolbar class="ion-no-border">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button class="circle ion-text-center">
        <ion-icon name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>
  
    <div class="description">
          <span>{{food[0]?.name}}</span>
          <div class="price-w">
              <span>{{'$8.00'}}</span>
              <span>{{'200g'}}</span>
          </div>
    </div>
    <div class="dtext">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa magnam quis reiciendis ut. Sit pariatur molestiae aut libero quaerat. Incidunt tempore, alias nostrum dolorem impedit tenetur optio adipisci facilis nihil?
    </div>
  

  <div class="_container">
    <div class="_f">
      <div class="qte">
        <span>{{'Quantity'}}</span>
      </div>
      <div class="adjust">
        <ion-buttons>
          <ion-button>
            <ion-icon name="remove-circle-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
        <span>{{1.0}}</span>
        <ion-buttons>
          <ion-button>
            <ion-icon name="add-circle-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>

    </div>
    <div class="_g">
      <div class="like">
        <ion-buttons>
          <ion-button class="circle">
            <ion-icon name="heart"></ion-icon>
          </ion-button>
          <ion-button class="add_cart">
            <div>
              <span>{{'Add to cart'}}</span>
              <span>{{'$8.00'}}</span>
            </div>
          </ion-button>
        </ion-buttons>
      </div>
    </div>
  </div>

</ion-content>