.menu-header {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;

    .ih {
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
            font-size: 25px;
            font-weight: bold;
            color: #636566;
        }
       
    }

    ion-icon {
        color: #636566;
        font-size: 22px;
    }
}

ion-content {
    --background:#FAFAFA;
}

.list-container {
    width: 100%;
    padding-top: 15px;
        .v_ {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            img {
                width: 20%;
                height: 60px;
                border-radius: .35rem;
            }

            .description {
                width: 50%;
                height: 60px;
                overflow: hidden;
                word-wrap: break-word;
                text-align: justify;
                text-justify: inter-word;
                letter-spacing: 1;
                color: #636566;
            }

            .price {
                width: 15%;
                height: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
                span {
                    font-weight: bold;
                    color: #636566;
                }
            }
        }
}

ion-list {
    background: #FAFAFA;
}

.fv {
position: relative;

    img {
        width: 100%;
        height: 84px;
        border-bottom-left-radius: .5rem;
        border-bottom-right-radius: .5rem;
    }

    button {
            position: absolute;
            top: 3%;
            right: 3%;
            background: #c04326;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            z-index: 3;
            border: none!important;
            outline: none;
            display: flex;
            align-items: center;
            justify-content: center;
            ion-icon {
                font-size: 22px;
                color: #FFFF;
            }
    }
}

.description {
    display: grid;
    overflow: hidden;
    white-space: nowrap;
    align-items: center;
    span:first-child {
        font-weight: bold;
        font-size: 15px;
        color: #636566;
    }
    span:last-child {
        font-size: 13px;
        color: #979c9e;
    }
}