<ion-content class="ion-padding pt-ion">
    <div class="menu-header">
        <ion-icon name="heart"></ion-icon>
        <div class="ih">
            <span>{{'Favorites Foods'}}</span>
        </div>
        <ion-icon name="list"></ion-icon>
        <ion-icon name="grid"></ion-icon>
    </div>

    <div class="list-container">
        <ion-list lines="none">
            <ion-item class="ion-no-padding">
              
                <ion-card>
                    <ion-card-content class="padding">
                        <div class="v_">
                                <img src="../../assets/img/f1.jpg" alt="">
                                <div class="description">
                                    <span>Lorem ipsum dolor sit amet consectetur, adipisicing dolor sit amet consectetur, adipisicing </span>
                                </div>
                                <div class="price">
                                    <span>{{'$8.00'}}</span>
                                </div>
                        </div>
                    </ion-card-content>
                </ion-card>
              
            </ion-item>
        </ion-list>
    </div>
</ion-content>
