.menu-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .ih {
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
            font-size: 25px;
            font-weight: bold;
            color: #636566;
        }
       
    }

    ion-icon {
        color: #636566;
        font-size: 22px;
    }
}

.list-container {
    width: 100%;

    ion-card{
        width: 100%;
        .padding {
            padding: 2px!important;
        }
        .v_ {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            img {
                width: 25%;
                width: 60px;
                height: 60px;
            }

            .description {
                width: 50%;
                height: 60px;
                overflow: hidden;
                word-wrap: break-word;
                text-align: justify;
                text-justify: inter-word;
                letter-spacing: 1;
            }

            .price {
                width: 15%;
                height: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
                span {
                    font-weight: bold;
                }
            }
        }
    }
}

