<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon class="drawer-btn" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title size="small" class="ion-text-center h">
      {{'Home'}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon class="cart-btn" name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-searchbar placeholder="Filter Pizza" class="nav_searchbar" inputmode="decimal" type="decimal" 
  spellcheck="true" animated="true" autocomplete="true" autocorrect="true"
  (ionChange)="onSearchChange($event)" [debounce]="250"></ion-searchbar>
</ion-header>

<ion-content [fullscreen]="true">

    <div class="cata_top-resto">
        <div class="theader">
            <div class="ach-ci"><ion-icon name="trophy"></ion-icon></div>
        </div>
    </div>


</ion-content>
