ion-icon.drawer-btn,.cart-btn {
  color: #77797a;
}

ion-title.h {
  color: #c04326;
  font-weight: bold;
}

.nav_searchbar{
  border: 1px solid #77797a !important;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-radius: .35rem;
  padding: 2px;
  box-shadow: none;
  --box-shadow: none;
  -webkit-box-shadow: none;
}

.searchbar-input.sc-ion-searchbar-md{

  box-shadow: none;
  --box-shadow: none;
  -webkit-box-shadow: none;

}