<ion-header class="ion-no-border content-bg ion-padding-bottom">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon class="drawer-btn" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title size="small" class="ion-text-center h">
      {{'Home'}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon class="cart-btn" name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-searchbar placeholder="Filter Pizza" class="nav_searchbar" inputmode="decimal" type="decimal" 
  spellcheck="true" animated="true" autocomplete="true" autocorrect="true"
  (ionChange)="onSearchChange($event)" [debounce]="250"></ion-searchbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding content-bg">

    <div class="cata_top-resto">
        <div class="theader">
            <div class="ach-ci"><ion-icon class="trophy" name="trophy"></ion-icon></div>
            <div class="arch-title">
                <span class="fc">{{'Top Restaurants'}}</span>
                <span class="lc">{{'Ordered by nearby first'}}</span>
            </div>
        </div>
        <div class="tbody ion-margin-bottom">
            <div class="slides">
                <ion-slides [options]="slidesOptions">
                  <ion-slide *ngFor="let item of slides">
                      <ion-card>
                        <ion-card-header class="ion-no-padding">
                            <img [src]="item?.img" alt="">
                        </ion-card-header>
                        <ion-card-content>
                            <div class="content">
                                <div class="libelle">
                                  <div>{{'Home Cooking Experience'}}</div>
                                  <div>{{'Lorem ipsum dolor sit amet consectetur adipisicing elit.'}}</div>
                                </div>
                                <button><ion-icon class="map" name="return-up-forward-outline"></ion-icon></button>
                            </div>
                            <div class="fc_">
                              <ion-icon class="star" name="star" *ngFor="let i of [].constructor(5)"></ion-icon>
                            </div>
                        </ion-card-content>
                      </ion-card>
                  </ion-slide>
                </ion-slides>
            </div>
        </div>
    </div>

    <div class="cata_trend_week">
        <div class="theader">
          <div class="ach-ci"><ion-icon class="trend-up" name="trending-up"></ion-icon></div>
          <div class="arch-title">
            <span class="fc">{{'Trendng this week'}}</span>
            <span class="lc">{{'Double click on the food to add it on the cart'}}</span>
          </div>
        </div>
        <div class="tbody">
          <ion-slides [options]="slidesOpts">
            <ion-slide *ngFor="let item of foods">
              <ion-card>
                <ion-card-header class="ion-no-padding">
                    <img [src]="item?.img" alt="">
                    <div class="bdge">{{'$'+item?.price}}</div>
                </ion-card-header>
                <ion-card-content>
                  <small>{{item?.name}}</small>
                </ion-card-content>
              </ion-card>
            </ion-slide>
          </ion-slides>
        </div>
    </div>

    <div class="cata_food_categories">
      <div class="theader">
        <div class="ach-ci"><ion-icon class="shapes-outline" name="shapes-outline"></ion-icon></div>
        <div class="arch-title">
          <span class="fc">{{'Food Catgories'}}</span>
          <!-- <span class="lc">{{'Double click on the food to add it on the cart'}}</span> -->
        </div>
      </div>

      <div class="tbody">
            <ion-slides [options]="slidesOpt">
              <ion-slide *ngFor="let item of categories">
                    <ion-card>
                      <ion-card-content>
                        <div class="hd">
                          <img [src]="item?.img" alt="">
                        </div>
                        <small>{{item?.name}}</small>  
                      </ion-card-content>
                    </ion-card>
              </ion-slide>
            </ion-slides>
      </div>

    </div>

    <div class="cata_most_popular">
      <div class="theader">
        <div class="ach-ci"><ion-icon class="trend-up" name="trending-up"></ion-icon></div>
        <div class="arch-title">
          <span class="fc">{{'Most Popular'}}</span>
          <!-- <span class="lc">{{'Double click on the food to add it on the cart'}}</span> -->
        </div>
      </div>
      <div class="tbody">
          <ion-grid fixed class="ion-no-padding">
            <ion-row>
              <ion-col size="6" *ngFor="let item of [].constructor(4)">
                  <ion-card>
                    <ion-card-header>
                      <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
                      <ion-card-title>Awesome Title</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      Awesome content
                    </ion-card-content>
                  </ion-card>
              </ion-col>
            </ion-row>
          </ion-grid>
      </div>
    </div>

    <div class="cata_recent-review">
      <div class="theader">
        <div class="ach-ci"><ion-icon class="trend-up" name="people-circle-outline"></ion-icon></div>
        <div class="arch-title">
          <span class="fc">{{'Recent Reviews'}}</span>
          <!-- <span class="lc">{{'Double click on the food to add it on the cart'}}</span> -->
        </div>
      </div>
      <div class="tbody">
          <ion-grid fixed class="ion-no-padding">
            <ion-row>
              <ion-col size="12">
                <ion-card>
                  <ion-card-header>
                      <img [src]="" alt="" srcset="">
                  </ion-card-header>
                  <ion-card-content>
                
                  </ion-card-content>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-grid>
      </div>
    </div>

</ion-content>
