.bg {
  background-color: #fff;
}


ion-icon.drawer-btn,
.cart-btn {
  color: #c04326;
}

ion-title.h {
  color: #c04326;
  font-weight: bold;
  text-transform: capitalize;
}

ion-icon.trophy,
.star,
.trend-up,
.shapes-outline {
  color: #c04326;
}

ion-card-header {
  position: relative;
}

.nav_searchbar {
  border: 1px solid #afb1b3 !important;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.35rem;
  padding: 2px;
  box-shadow: none;
  --box-shadow: none;
  -webkit-box-shadow: none;
}

.searchbar-input.sc-ion-searchbar-md {
  box-shadow: none;
  --box-shadow: none;
  -webkit-box-shadow: none;
}

ion-tab-bar {
  --background:#c04326;
  background: #FAFAFA;

  ion-icon {
    color: #fff;
  }
}