ion-header {
    ion-toolbar,
    ion-searchbar {
      --background: #fafafa;
    }
  }
  
  .content-bg {
    background-color: #fafafa;
  }
  
  ion-content {
    // --background: #fafafa;
    --offset-bottom: auto !important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  
  ion-icon.drawer-btn,
  .cart-btn {
    color: #77797a;
  }
  
  ion-title.h {
    color: #c04326;
    font-weight: bold;
  }
  
  ion-icon.trophy,
  .star,
  .trend-up,
  .shapes-outline {
    color: #c04326;
  }
  
  ion-card-header {
    position: relative;
  }
  
  .nav_searchbar {
    border: 1px solid #afb1b3 !important;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.35rem;
    padding: 2px;
    box-shadow: none;
    --box-shadow: none;
    -webkit-box-shadow: none;
  }
  
  .searchbar-input.sc-ion-searchbar-md {
    box-shadow: none;
    --box-shadow: none;
    -webkit-box-shadow: none;
  }
  
  .cata_top-resto {
    width: 100%;
    .theader {
      width: 70%;
      margin-right: auto;
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .ach-ci {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 35px;
        border-radius: 0.4rem;
        box-shadow: 0px 10px 30px 0px rgba(57, 71, 82, 0.12);
        overflow: hidden;
        background-color: #ffff;
      }
      .arch-title {
        display: grid;
        span.fc {
          font-weight: bold;
          font-size: 18px;
          color: #77797a;
        }
        span.lc {
          font-weight: lighter;
          font-size: 12px;
          color: #77797a;
        }
      }
    }
    .tbody {
      width: 100%;
      img {
        width: 100%;
        height: 133px;
      }
      .content {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
  
        .libelle {
          width: 75%;
          display: block;
          overflow: hidden;
          white-space: nowrap;
          div:first-child {
            width: 100%;
            font-size: 17px;
            font-weight: bold;
            color: #77797a;
          }
          div:last-child {
            font-size: 16px;
            font-weight: normal;
            color: #afb1b3;
          }
        }
  
        button {
          background-color: #c04326;
          color: #fff;
          border-radius: 0.4rem;
          border: none;
          width: 40px;
          height: 35px;
          outline: none;
        }
      }
  
      .fc_ {
        margin-top: 5px;
        width: 30%;
        margin-right: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
  
  .cata_trend_week {
    .theader {
      width: 100%;
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .ach-ci {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 35px;
        border-radius: 0.4rem;
        box-shadow: 0px 10px 30px 0px rgba(57, 71, 82, 0.12);
        overflow: hidden;
        background-color: #ffff;
      }
      .arch-title {
        display: grid;
        width: 80%;
        span.fc {
          font-weight: bold;
          font-size: 18px;
          color: #77797a;
        }
        span.lc {
          font-weight: lighter;
          font-size: 12px;
          color: #77797a;
        }
      }
    }
  
    .tbody {
      width: 100%;
      img {
        width: 100%;
        height: 85px;
      }
  
      .bdge {
        position: absolute;
        background-color: #c04326;
        color: #fff;
        height: 17px;
        width: 50px;
        border-radius: 0.45rem;
        top: 1%;
        right: 1%;
        box-shadow: 0px 10px 30px 0px rgba(57, 71, 82, 0.12);
      }
    }
  }
  
  .cata_food_categories {
    margin-top: 15px;
    .theader {
      width: 60%;
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .ach-ci {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 35px;
        border-radius: 0.4rem;
        box-shadow: 0px 10px 30px 0px rgba(57, 71, 82, 0.12);
        overflow: hidden;
        background-color: #ffff;
      }
      .arch-title {
        display: grid;
        span.fc {
          font-weight: bold;
          font-size: 18px;
          color: #77797a;
        }
        span.lc {
          font-weight: lighter;
          font-size: 12px;
          color: #77797a;
        }
      }
    }
  
    .tbody {
      ion-card-content {
        background-color: #c04326;
       
        .hd {
          width: 100%;
          margin-left: auto;
          margin-right: auto;
          img {
            width: 60px;
            height: 60px;
          }
        }
  
        small {
          position: absolute;
          color: #fff;
          bottom: 0%;
          left: 25%;
        }
      }
    }
  }
  
  .cata_most_popular {
    margin-top: 15px;
    .theader {
      width: 60%;
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .ach-ci {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 35px;
        border-radius: 0.4rem;
        box-shadow: 0px 10px 30px 0px rgba(57, 71, 82, 0.12);
        overflow: hidden;
        background-color: #ffff;
      }
      .arch-title {
        display: grid;
        span.fc {
          font-weight: bold;
          font-size: 18px;
          color: #77797a;
        }
        span.lc {
          font-weight: lighter;
          font-size: 12px;
          color: #77797a;
        }
      }
    }
  
    .tbody {
      ion-card-header {
        img {
          width: 100%;
          height: 75px;
          border-radius: .35rem;
        }
      }
  
      .title {
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }
  
  .cata_recent-review {
    margin-top: 15px;
    margin-bottom: 15px;
    .theader {
      width: 60%;
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .ach-ci {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 35px;
        border-radius: 0.4rem;
        box-shadow: 0px 10px 30px 0px rgba(57, 71, 82, 0.12);
        overflow: hidden;
        background-color: #ffff;
      }
      .arch-title {
        display: grid;
        span.fc {
          font-weight: bold;
          font-size: 18px;
          color: #77797a;
        }
        span.lc {
          font-weight: lighter;
          font-size: 12px;
          color: #77797a;
        }
      }
    }
  
    .tbody {
      margin-top: 15px;
      .item-l {
        margin-bottom: 10px;
        &__f {
          display: flex;
          width:100%;
          align-items: center;
          justify-content: space-between;
  
          .idn_ci {
            .img {
              width: 50px;
              height: 50px;
              border-radius: 50%;
              border: 2px solid #c04326;
              display: flex;
              align-items: center;
              justify-content: center;
              ion-icon {
                color: #c04326;
              }
            }
          }
  
          .idn_di {
            display: grid;
            width: 70%;
            overflow: hidden;
            white-space: nowrap;
  
            span:first-child {
              font-size: 17px;
              font-weight: bold;
              color: #77797a;
            }
  
            span:last-child {
              font-size: 11px;
              color: #b3b5b6;
            }
          }

          .idlike {
            width: 10%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            ion-icon {
              color: #c04326;
            }

            span {
              font-size: 12px;
              color: #c04326;
            }
          }

        }
  
        &__s {
          width: 100%;
          overflow: hidden;
          word-break: break-word;
          text-align: justify;
          text-justify: inter-word;

          span {
            font-size: 15px;
            color: #77797a;
          }
        }
      }
    }
  }
  