<ion-content class="ion-padding content-bg pt-ion">
  <div class="cata_top-resto">
    <div class="theader">
        <div class="ach-ci"><ion-icon class="trophy" name="trophy"></ion-icon></div>
        <div class="arch-title">
            <span class="fc">{{'Top Restaurants'}}</span>
            <span class="lc">{{'Ordered by nearby first'}}</span>
        </div>
    </div>
    <div class="tbody ion-margin-bottom">
        <div class="slides">
            <ion-slides [options]="slidesOptions">
              <ion-slide *ngFor="let item of service?.restos">
                  <ion-card>
                    <ion-card-header class="ion-no-padding">
                        <img [src]="item?.img" alt="">
                    </ion-card-header>
                    <ion-card-content>
                        <div class="content">
                            <div class="libelle">
                              <div>{{'Home Cooking Experience'}}</div>
                              <div>{{'Lorem ipsum dolor sit amet consectetur adipisicing elit.'}}</div>
                            </div>
                            <button><ion-icon class="map" name="return-up-forward-outline"></ion-icon></button>
                        </div>
                        <div class="fc_">
                          <ion-icon class="star" name="star" *ngFor="let i of [].constructor(5)"></ion-icon>
                        </div>
                    </ion-card-content>
                  </ion-card>
              </ion-slide>
            </ion-slides>
        </div>
    </div>
</div>

<div class="cata_trend_week">
    <div class="theader">
      <div class="ach-ci"><ion-icon class="trend-up" name="trending-up"></ion-icon></div>
      <div class="arch-title">
        <span class="fc">{{'Trendng this week'}}</span>
        <span class="lc">{{'Double click on the food to add it on the cart'}}</span>
      </div>
    </div>
    <div class="tbody">
      <ion-slides [options]="slidesOpts">
        <ion-slide *ngFor="let item of service?.foods">
          <ion-card>
            <ion-card-header class="ion-no-padding" (click)="detail(item?.id)">
                <img [src]="item?.img" alt="">
                <div class="bdge">{{'$'+item?.price}}</div>
            </ion-card-header>
            <ion-card-content>
              <small>{{item?.name}}</small>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </div>
</div>

<div class="cata_food_categories">
  <div class="theader">
    <div class="ach-ci"><ion-icon class="shapes-outline" name="shapes-outline"></ion-icon></div>
    <div class="arch-title">
      <span class="fc">{{'Food Catgories'}}</span>
      <!-- <span class="lc">{{'Double click on the food to add it on the cart'}}</span> -->
    </div>
  </div>

  <div class="tbody">
        <ion-slides [options]="slidesOpt">
          <ion-slide *ngFor="let item of service?.categories">
                <ion-card>
                  <ion-card-content>
                    <div class="hd">
                      <img [src]="item?.img" alt="">
                    </div>
                    <small>{{item?.name}}</small>  
                  </ion-card-content>
                </ion-card>
          </ion-slide>
        </ion-slides>
  </div>

</div>

<div class="cata_most_popular">
  <div class="theader">
    <div class="ach-ci"><ion-icon class="trend-up" name="trending-up"></ion-icon></div>
    <div class="arch-title">
      <span class="fc">{{'Most Popular'}}</span>
      <!-- <span class="lc">{{'Double click on the food to add it on the cart'}}</span> -->
    </div>
  </div>
  <div class="tbody">
      <ion-grid fixed class="ion-no-padding">
        <ion-row>
          <ion-col size="6" *ngFor="let item of service?.populars">
              <ion-card>
                <ion-card-header>
                  <img [src]="item?.img" alt="" srcset="">
                </ion-card-header>
                <ion-card-content>
                  <div class="title">
                      <span>{{item?.name}}</span>
                  </div>
                  <div class="advice">
                    <ion-icon class="star" name="star" *ngFor="let i of [].constructor(item?.avis)"></ion-icon>
                    <ion-icon class="star" name="star-outline" *ngFor="let e of [].constructor(5-item?.avis)"></ion-icon>
                  </div>


                </ion-card-content>
              </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
  </div>
</div>

<div class="cata_recent-review">
  <div class="theader">
    <div class="ach-ci"><ion-icon class="trend-up" name="people-circle-outline"></ion-icon></div>
    <div class="arch-title">
      <span class="fc">{{'Recent Reviews'}}</span>
      <!-- <span class="lc">{{'Double click on the food to add it on the cart'}}</span> -->
    </div>
  </div>
  <div class="tbody">
      <ion-grid fixed class="ion-no-padding">
        <ion-row>
          <ion-col size="12" *ngFor="let ite of [].constructor(2)">
                  <div class="item-l">
                      <div class="item-l__f">
                            <div class="idn_ci">
                                <img src="../../assets/img/christian.jpg" alt="" srcset="">
                            </div>
                            <div class="idn_di">
                              <span>{{'Christian'}}</span>
                              <span>{{'Lorem ipsum dolor sit amet.'}}</span>  
                            </div>
                      </div>
                      <div class="item-l__s">
                          <span>{{'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim neque eius modi ea sit amet consectetur adipisicing elit.'}}</span>
                      </div>
                  </div>
          </ion-col>
        </ion-row>
      </ion-grid>
  </div>
</div>
</ion-content>
